.formParent {
    height: fit-content;
    width: 30vw;
    background-color: rgba(255, 32, 78,0.8);
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    /* opacity: 0.8; */

}

.input {
    border-radius: 0;
    border: none;
    padding: 5px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #5D0E41;
}

h1 {
    margin: 5px 0px;
    color: #FF204E
}

.hrLine {
    border: 1px solid #FF204E;
    width: 60%;
    padding: 0;
    margin: 10px 0;
}

.label {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.button {
    height: 30px;
    width: fit-content;


}
input{

    transition: 100ms;


}

input:focus {
    outline: none;
    scale: 1.03;

}


.google-fonts {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
}

.header {
    background-color: #5D0E41;
    padding: 10px;
    margin: 0;
}

textarea {
    resize: none;
    transition: 100ms;

}

textarea:focus {
    outline: none;
    scale: 1.01;
}

.image {
    height: 70px;
    width: 150px;
}

/*  */